.imgbut{
    width:400px;
    height:200px
}
#ensak{
    width:100%;
    height:700px;
    position:relative;

}
section{
    position:absolute;
    top: 250px;
    right:380px;
   background-color: rgba(1,1,1,0.1);

}
h4{

    font-size: 40px;
    color:white;
    text-align: center;
    background-color:rgba(1,1,1,0.7);

}
h2{
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
    color: #007DFF;
}
span{

    font-family: "Comic Sans MS";
}
figcaption{
    font-weight: bold;
    font-size: 25px;
}
header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
}
